# Load the shared object
useDynLib(HIBAG.gpu,
	init_gpu_proc, set_gpu_val, ocl_build_kernel
)

# Export function names
exportPattern("^hla")
export(.onAttach)

# Imports
import(methods)
import(OpenCL)
import(HIBAG)
