# Load the shared object
useDynLib(HIBAG.gpu,
	gpu_init_proc, gpu_exp_log_min_rare_freq
)

# Export function names
exportPattern("^hla")
export(.onAttach)
export(.onLoad)

# Imports
import(methods)
import(HIBAG)
import(OpenCL)
importFrom(stats, predict)
